body
{
    
    background-color:azure;
}
h1
{
    position: absolute;
    font-family: monospace;
    left: 200px;
    padding: 20
}


.needs-validation
{
    padding: 100
}
.form-row
{
    padding: 20
}

.form-group
{
    padding: 20
}
.btn-outline-success
{
    margin: 20
}